
.Main-Container{
    display: flex;
    justify-content: space-around;
    
}

.Pokedex-Container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr));
    grid-gap: 2rem;
   
    padding: 2rem;

 
  
    overflow: auto;
    max-height: 100vh;
    width: 100%;
    direction: rtl;
   
 
  
   
}
 /*Card*/

.card {

 border-radius: 20px;
 background: #f5f5f5;
 position: relative;
 padding: 1.8rem;
 border: 2px solid #c3c6ce;
 transition: 0.5s ease-out;
 overflow: visible;
}

.card-details {
 color: black;
 height: 100%;
 gap: .5em;
 display: grid;
 place-content: center;
}

.card-button {
 transform: translate(-50%, 125%);
 width: 60%;
 border-radius: 1rem;
 border: none;
 background-color: #008bf8;
 color: #fff;
 font-size: 1rem;
 padding: .5rem 1rem;
 position: absolute;
 left: 50%;
 bottom: 0;
 opacity: 0;
 transition: 0.3s ease-out;
}




.text-title {
 font-size: 1.5em;
 font-weight: bold;
}


.card:hover {
 border-color: #008bf8;
 box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
 transform: translate(-50%, 50%);
 opacity: 1;
}


/* MoreInfo*/


.Details-Container{
   
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Details{
    background-color: rgb(246, 242, 134);
}

/*buttonBack*/
.Details-Container button {
 display: flex;
 height: 3em;
 width: 100px;
 align-items: center;
 justify-content: center;
 background-color: #eeeeee4b;
 border-radius: 3px;
 letter-spacing: 1px;
 transition: all 0.2s linear;
 cursor: pointer;
 border: none;
 background: #fff;
}

.Details-Container button > svg {
 margin-right: 5px;
 margin-left: 5px;
 font-size: 20px;
 transition: all 0.4s ease-in;
}

.Details-Container button:hover > svg {
 font-size: 1.2em;
 transform: translateX(-5px);
}

.Details-Container button:hover {
 box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
 transform: translateY(-2px);
}

/* pagination*/

.Pagination{
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 10px;
}


.Pagination .disabled{
    background-color: red;
    color: rgb(242, 231, 231);
    font-weight: 600;
}


/*Loader*/



.loading{
    
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding: 15px;

}
.spinner {
    width: 44px;
    height: 44px;
    animation: spinner-y0fdc1 2s infinite ease;
    transform-style: preserve-3d;
   }
   
   .spinner > div {
    background-color: rgba(0,77,255,0.2);
    height: 100%;
    position: absolute;
    width: 100%;
    border: 2px solid #004dff;
   }
   
   .spinner div:nth-of-type(1) {
    transform: translateZ(-22px) rotateY(180deg);
   }
   
   .spinner div:nth-of-type(2) {
    transform: rotateY(-270deg) translateX(50%);
    transform-origin: top right;
   }
   
   .spinner div:nth-of-type(3) {
    transform: rotateY(270deg) translateX(-50%);
    transform-origin: center left;
   }
   
   .spinner div:nth-of-type(4) {
    transform: rotateX(90deg) translateY(-50%);
    transform-origin: top center;
   }
   
   .spinner div:nth-of-type(5) {
    transform: rotateX(-90deg) translateY(50%);
    transform-origin: bottom center;
   }
   
   .spinner div:nth-of-type(6) {
    transform: translateZ(22px);
   }
   
   @keyframes spinner-y0fdc1 {
    0% {
     transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    }
   
    50% {
     transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    }
   
    100% {
     transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    }
   }
